body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url('./images/dock.png');
  background-repeat: no-repeat;
  background-size: cover;

  * {
    font-size: 16px;
    display: block;
    position: absolute;
  }
}

nuke {
  background-image: url('./images/nuke.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

player {
  background-image: url('./images/drugsboat.png');
  width: 99px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

enemy {
  background-image: url('./images/policeboat.png');
  width: 120px;
  height: 29px;
}

drugs {
  background-image: url('./images/drugs.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

bullet {
  background-image: url('./images/bullet.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 54px;
  height: 100px;
}

message {
  text-align: center;
  line-height: 2.4;
  color: #fff;
  font-size: 40px;
  width: 100%;
  cursor: pointer;
  padding-top: 25%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
